<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dinesh.sheduleit">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".galleryMultipleImagePick.GalleryActivity"></activity>
        <activity android:name=".threading.handlerLooperMessageQueue.HandlerExampleActivity" />
        <activity android:name=".threading.MyThreadActivity" />
        <activity android:name=".room.NewNoteActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".test.TestInterfacesActivity" />
        <activity android:name=".lifecycle.LifecycleActivity" />
        <activity android:name=".viewModel.ViewModelActivity" />
        <activity android:name=".livedata.LiveDataActivity" />
        <activity android:name=".room.NotesActivity" />


            <!--For MultiplaimageSelection-->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.dinesh.sheduleit.imagepickersheetdemo.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

    </application>

</manifest>